@use './variables' as *;

.contactFlex {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-content: center;

    .contactContainer {
        flex-basis: 90%;
        margin: auto 0;
        display: flex;
        justify-content: space-around;
        align-content: center;
        .contactInfo{
            flex-basis: 30%;
            padding-left: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            ul {
                display: flex;
                li {
                    margin: 10px;
                    font-size: 2rem;
                }
            }
        }
        .contactForm {
            flex-basis: 50%;
                display: flex;
                flex-direction: column;
        }
    }
}

.contactForm {
    .name,
    .email,
    .message {
        border: none;
        border-bottom: $backGroundTwo solid 2px;
        margin: 10px 0;
        padding-left: 10px;
        line-height: 32px;
        background: $backGroundOne;
    }

    .message {
        resize: none;
    }

    button {
        line-height: 40px;
        cursor: pointer;
        background: $backGroundTwo;
        color: $backGroundOne;
        border: none;
        border-radius: 20px;
    }
}
@media (max-width: 896px) {
    .contactFlex .contactContainer {
        flex-direction: column;
        margin: 100px;
        .contactForm {
            padding-left: 30px;
        }
        .contactInfo ul{
            justify-content: center;
            padding-left: 0;
        }
        p {
            text-align: center;
        }
    }
}

@media (max-width: 845px) {
    .contactFlex .contactContainer {
        margin: 75px;
    }
}

@media (max-width: 700px) {
    .contactFlex .contactContainer {
        margin: 75px 40px;
    }
}
@media (max-width: 496px) {
    .contactFlex .contactContainer {
        flex-basis: 100%;
        margin: 50px 0;
        .contactForm,
        .contactInfo {
            padding-left: 0px;
        }
    }

    .sectionCountLight,
    .sectionCountDark {
        display: none;
    }
}