@use './variables.scss' as *;
@use './_mixins.scss' as *;

body {
    font-family: $baseFont;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $anchor;
    text-transform: uppercase;
    font-family: $headerFont;
}

a:hover{
    color: $primary;
}

a:focus {
    color: $anchor;
}

a:active {
    color: $secondary;
}

p {
    line-height: 35px;
}

h1 {
    @include headerBold(4rem);
    text-transform: uppercase;
}

h2 {
    @include headerSemiBold(1.6rem);
    text-transform: uppercase;
}

h4 {
    font-size: 3.7rem;
    font-family: $accentFont;
    color: $backGroundTwo;
    margin: 0 auto;
    text-transform: uppercase;
}

h5 {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: $backGroundTwo;
    font-family: $headerFont;

}

.logo {
    font-family: $accentFont;
    font-size: 2rem;
}

@media (max-width: 496px) {
    p {
        line-height: 25px;
    }
}

@media (max-width: 412px) {
    html {
        font-size: 16px;
    }
}