$headerFont: 'Montserrat', sans-serif;
$baseFont: 'Roboto', sans-serif;
$accentFont: 'Times New Roman', Times, serif;
// font-family: 'Montserrat',
// sans-serif;
// font-family: 'Roboto',
// sans-serif;
// font-family: 'Roboto Condensed',
// sans-serif;
// font-family: 'Roboto Mono',
// monospace;
$backGroundOne: #ECECEC;
$backGroundTwo: #595958;
$primary: #000;
$secondary: #fff;
$third: #DBDBDB;
$fourth: #7A7A79