// FONT FAMILY
$headerFont: 'Montserrat', sans-serif;
$baseFont: 'Roboto', sans-serif;
$accentFont: 'Times New Roman', Times, serif;


// COLOR THEME
$backGroundOne: #ECECEC;
$backGroundTwo: #2f2f2f;
$primary: #000;
$secondary: #fff;
$accent: #566448;
$anchor: #878787;

// commented out h4 colors. Need to address contrast issue:
// $third: #DBDBDB;
// $fourth: #404040;