html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0px;
}

body {
  background-color: #ECECEC;
}

.wrapper {
  max-width: 1250px;
  width: 85%;
  margin: 0 auto;
}

figure {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.sectionCountLight {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sectionCountLight .vertical {
  height: 10vh;
  width: 0.2vw;
  border-width: 0px;
  background-color: #000;
  margin: 10px auto;
}
.sectionCountLight h5 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  text-orientation: mixed;
  margin: 0 auto;
  text-transform: uppercase;
}

.horizontalLight {
  width: 6vw;
  height: 0.2vh;
  background-color: #000;
  border: #000 solid 1px;
  margin: 15px 0px;
}

.sectionCountDark {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sectionCountDark h4 {
  color: #404040;
}
.sectionCountDark .vertical {
  height: 10vh;
  width: 0.2vw;
  border-width: 0px;
  background-color: #fff;
  margin: 10px auto;
}
.sectionCountDark h5 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  text-orientation: mixed;
  margin: 0 auto;
  text-transform: uppercase;
  color: #ECECEC;
}

.horizontalDark {
  width: 6vw;
  height: 0.2vh;
  background-color: #fff;
  border: #fff solid 1px;
  margin: 15px 0px;
}

@media (max-width: 896px) {
  .horizontalDark,
  .horizontalLight {
    width: 100%;
  }
  .sectionCountLight,
  .sectionCountDark {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: 50px;
  }
}
body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

a:hover,
a:focus {
  color: #DBDBDB;
  background: #000;
}

a:active {
  color: #fff;
}

p {
  line-height: 35px;
}

h1 {
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

h4 {
  font-size: 3.7rem;
  font-family: "Times New Roman", Times, serif;
  color: #DBDBDB;
  margin: 0 auto;
  text-transform: uppercase;
}

h5 {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: mixed;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #2f2f2f;
  font-family: "Montserrat", sans-serif;
}

.logo {
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
}

@media (max-width: 496px) {
  p {
    line-height: 25px;
  }
}
@media (max-width: 412px) {
  html {
    font-size: 16px;
  }
}
footer p {
  text-align: center;
  background-color: #2f2f2f;
  color: #DBDBDB;
}
footer p a {
  color: #DBDBDB;
  text-transform: capitalize;
}

header {
  height: 100vh;
  position: relative;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navBar .mainNav,
.navBar h3 {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}
.navBar h3 {
  font-size: 3rem;
}
.navBar button:hover,
.navBar button:focus,
.navBar button:focus-within {
  color: #7b8e68;
}
.navBar button {
  display: none;
  background: none;
  font-size: 2rem;
  border: none;
  position: absolute;
  right: 0;
  padding-top: 10px;
  padding-right: 10px;
}
.navBar .fa-xmark {
  color: #fff;
}
.navBar .mainNav {
  display: none;
  position: absolute;
  position: fixed;
  right: 0;
  background: rgba(0, 0, 0, 0.919);
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  width: 100vw;
  z-index: 10;
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}
.navBar .mainNav .topNav {
  padding-left: 0px;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.navBar .mainNav .topNav li {
  text-align: center;
}
.navBar .mainNav .topNav li a {
  display: block;
  padding: 25px 0;
  color: #fff;
}
.navBar .mainNav .topNav li a:hover,
.navBar .mainNav .topNav li a:focus {
  background-color: #7b8e68;
  color: #fff;
}

.headerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 90vh;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.header {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 30px;
}
.header h1,
.header h2 {
  text-transform: uppercase;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.scrollNav {
  position: fixed;
  right: 0;
  left: 90vw;
  bottom: 0;
  top: 45vh;
  line-height: 32px;
  font-size: 1.3rem;
}
.scrollNav a.active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #7b8e68;
  -webkit-transition: 0.3s ease background;
  transition: 0.3s ease background;
  padding: 5px;
}
.scrollNav a:hover,
.scrollNav a:focus {
  color: #7b8e68;
  background: none;
}

@media (max-width: 896px) {
  .header {
    text-align: center;
  }
  .navBar button {
    display: inline;
    position: fixed;
  }
  .scrollNav .smoothScroll {
    display: none;
  }
}
@media (max-width: 496px) {
  .header {
    padding-left: 0px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .sectionCountLight,
  .sectionCountDark {
    display: none;
  }
}
@media (max-width: 391px) {
  .header h1 {
    font-size: 3.3rem;
  }
  .header h2 {
    font-size: 1.2rem;
  }
}
section.about {
  background-color: #2f2f2f;
}

.aboutFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}
.aboutFlex .aboutContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aboutFlex .aboutContent figure {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin: auto 0;
}
.aboutFlex .aboutContent article {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin: auto 0;
  padding-right: 50px;
  color: #DBDBDB;
  text-align: justify;
}
.aboutFlex h2 {
  color: #fff;
}

@media (max-width: 896px) {
  .aboutFlex .aboutContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 30px;
    margin: 50px 0;
  }
  .aboutFlex .aboutContent article {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-right: 0px;
  }
  .aboutFlex .aboutContent figure {
    width: 70%;
  }
}
@media (max-width: 496px) {
  .aboutFlex .aboutContent {
    padding-left: 0px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .sectionCountLight,
  .sectionCountDark {
    display: none;
  }
}
section.skills .skillsFlex {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}
section.skills .skillsFlex .stack {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 100px;
}

.stackFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  padding-right: 0px;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.stackFlex li {
  -ms-flex-preferred-size: calc(25% - 20px);
      flex-basis: calc(25% - 20px);
  margin: 10px;
  text-transform: uppercase;
  color: #404040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.stackFlex li i {
  font-size: 5rem;
  display: block;
  color: #000;
  margin-bottom: 10px;
  text-align: center;
}
.stackFlex li img {
  width: 5rem;
  margin-bottom: 10px;
  text-align: center;
}
.stackFlex li p {
  text-align: center;
}

@media (max-width: 975px) {
  section.skills .skillsFlex .stack {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-right: 0px;
    padding-left: 30px;
  }
}
@media (max-width: 749px) {
  .stackFlex li {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    min-width: 100px;
  }
  .stackFlex li i {
    font-size: 4rem;
  }
  .stackFlex li img {
    width: 4rem;
  }
}
@media (max-width: 529px) {
  .stackFlex li {
    min-width: 80px;
  }
}
@media (max-width: 496px) {
  .skillsFlex .stack {
    padding-left: 0px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  section.skills .skillsFlex .stack {
    padding-left: 0px;
  }
}
@media (max-width: 352px) {
  .stackFlex li {
    min-width: 60px;
  }
  .stackFlex li i {
    font-size: 2rem;
  }
  .stackFlex li img {
    width: 2.5rem;
  }
}
section.projects {
  background-color: #2f2f2f;
}
section.projects .projectFlex {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  overflow: hidden;
}
section.projects .projectFlex .listOfProjects {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.project {
  position: relative;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  margin: 10px;
}
.project figure img {
  border-radius: 25px;
}
.project .overlay {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.829);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  border-radius: 25px;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
}
.project .overlay h2,
.project .overlay a,
.project .overlay p {
  color: #fff;
  text-align: center;
  margin: 0 10px;
}
.project .overlay a:hover,
.project .overlay a:focus {
  background-color: #ECECEC;
  color: #2f2f2f;
}

.overlay:hover,
.overlay:focus-within {
  opacity: 1;
}

@media (max-width: 1187px) {
  section.projects .projectFlex .listOfProjects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 30px 0;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
  section.projects .projectFlex .listOfProjects .project {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
@media (max-width: 896px) {
  section.projects .projectFlex .listOfProjects {
    padding-left: 30px;
  }
}
@media (max-width: 770px) {
  section.projects .projectFlex .listOfProjects {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
@media (max-width: 778px) {
  .project .horizontalLight,
  .project .horizontalDark {
    margin: 0px;
  }
  .project p {
    line-height: 25px;
  }
}
@media (max-width: 572px) {
  .project {
    position: relative;
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    margin: 10px;
  }
  .project figure img {
    border-radius: 25px 25px 0 0;
  }
  .project .overlay {
    position: static;
    height: auto;
    background-color: rgba(0, 0, 0, 0.829);
    opacity: 1;
    border-radius: 0 0 25px 25px;
  }
}
@media (max-width: 496px) {
  section.projects .projectFlex .listOfProjects {
    padding-left: 0;
    margin: 50px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  section.projects .projectFlex .listOfProjects .project {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}
.contactFlex {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}
.contactFlex .contactContainer {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}
.contactFlex .contactContainer .contactInfo {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contactFlex .contactContainer .contactInfo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactFlex .contactContainer .contactInfo ul li {
  margin: 10px;
  font-size: 2rem;
}
.contactFlex .contactContainer .contactForm {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactForm .name,
.contactForm .email,
.contactForm .message {
  border: none;
  border-bottom: #2f2f2f solid 2px;
  margin: 10px 0;
  padding-left: 10px;
  line-height: 32px;
  background: #ECECEC;
}
.contactForm .message {
  resize: none;
}
.contactForm button {
  line-height: 40px;
  cursor: pointer;
  background: #2f2f2f;
  color: #ECECEC;
  border: none;
  border-radius: 20px;
}

@media (max-width: 896px) {
  .contactFlex .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 100px;
  }
  .contactFlex .contactContainer .contactForm {
    padding-left: 30px;
  }
  .contactFlex .contactContainer .contactInfo ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0;
  }
  .contactFlex .contactContainer p {
    text-align: center;
  }
}
@media (max-width: 845px) {
  .contactFlex .contactContainer {
    margin: 75px;
  }
}
@media (max-width: 700px) {
  .contactFlex .contactContainer {
    margin: 75px 40px;
  }
}
@media (max-width: 496px) {
  .contactFlex .contactContainer {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 50px 0;
  }
  .contactFlex .contactContainer .contactForm,
  .contactFlex .contactContainer .contactInfo {
    padding-left: 0px;
  }
  .sectionCountLight,
  .sectionCountDark {
    display: none;
  }
}