html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0px;
}

body {
  background-color: #ECECEC;
}

.wrapper {
  max-width: 1250px;
  width: 85%;
  margin: 0 auto;
}

figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
a {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.sectionCountLight {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sectionCountLight .vertical {
  height: 10vh;
  width: 0.2vw;
  border-width: 0px;
  background-color: #000;
  margin: 10px auto;
}
.sectionCountLight h5 {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: mixed;
  margin: 0 auto;
  text-transform: uppercase;
}

.horizontalLight {
  width: 6vw;
  height: 0.2vh;
  background-color: #000;
  border: #000 solid 1px;
  margin: 15px 0px;
}

.sectionCountDark {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sectionCountDark h4 {
  color: #7A7A79;
}
.sectionCountDark .vertical {
  height: 10vh;
  width: 0.2vw;
  border-width: 0px;
  background-color: #fff;
  margin: 10px auto;
}
.sectionCountDark h5 {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: mixed;
  margin: 0 auto;
  text-transform: uppercase;
  color: #ECECEC;
}

.horizontalDark {
  width: 6vw;
  height: 0.2vh;
  background-color: #fff;
  border: #fff solid 1px;
  margin: 15px 0px;
}

.scrollNav {
  position: fixed;
  right: 0;
  left: 90vw;
  bottom: 0;
  top: 45vh;
  line-height: 32px;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

a:hover,
a:focus {
  color: #DBDBDB;
}

a:active {
  color: #fff;
}

p {
  line-height: 35px;
}

h1 {
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

h4 {
  font-size: 3.7rem;
  font-family: "Times New Roman", Times, serif;
  color: #DBDBDB;
  margin: 0 auto;
  text-transform: uppercase;
}

h5 {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: mixed;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #595958;
  font-family: "Montserrat", sans-serif;
}

.logo {
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
}

header {
  height: 100vh;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}
.navBar .mainNav,
.navBar h3 {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}
.navBar .mainNav {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.navBar .mainNav .topNav {
  padding-left: 0px;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navBar .mainNav .topNav li {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  text-align: center;
}

.headerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 90vh;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.header {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 30px;
}
.header h1,
.header h2 {
  text-transform: uppercase;
}

section.about {
  background-color: #595958;
}

.aboutFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}
.aboutFlex figure {
  width: 300px;
  margin: auto 0;
}
.aboutFlex article {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin: auto 0;
  padding-right: 50px;
  color: #DBDBDB;
  text-align: justify;
}
.aboutFlex h2 {
  color: #fff;
}

section.skills .skillsFlex {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}
section.skills .skillsFlex .stack {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  margin: auto 0;
  margin-right: 175px;
}

.stackFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  padding-right: 0px;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.stackFlex li {
  -ms-flex-preferred-size: calc(25% - 20px);
      flex-basis: calc(25% - 20px);
  margin: 10px;
  text-transform: uppercase;
  text-align: center;
  padding-right: 25px;
  color: #7A7A79;
}
.stackFlex li i {
  font-size: 5rem;
  display: block;
  color: #000;
  margin-bottom: 10px;
}

section.projects {
  background-color: #595958;
}
section.projects .projectFlex {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  overflow: hidden;
}
section.projects .projectFlex .listOfProjects {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
section.projects .projectFlex .listOfProjects .project {
  position: relative;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  margin: 10px;
}
section.projects .projectFlex .listOfProjects .project figure img {
  border-radius: 25px;
}
section.projects .projectFlex .listOfProjects .project .overlay {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.829);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  border-radius: 25px;
  width: 100%;
}
section.projects .projectFlex .listOfProjects .project .overlay h2,
section.projects .projectFlex .listOfProjects .project .overlay a,
section.projects .projectFlex .listOfProjects .project .overlay p {
  color: #fff;
  text-align: center;
  margin: 0 10px;
}
section.projects .projectFlex .listOfProjects .overlay:hover {
  opacity: 1;
}

.contactFlex {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}
.contactFlex .contactInfo {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin: auto 0;
}
.contactFlex .contactInfo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
}
.contactFlex .contactInfo ul li {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  font-size: 1.5rem;
  margin: 10px;
}

.contactForm {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  margin: auto 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contactForm .name,
.contactForm .email,
.contactForm .message {
  border: #595958 solid 2px;
  margin: 10px 0;
  padding-left: 10px;
  line-height: 32px;
}
.contactForm .message {
  resize: none;
}
.contactForm button {
  line-height: 32px;
}

footer p {
  text-align: center;
  background-color: #595958;
  color: #DBDBDB;
}
footer p a {
  color: #DBDBDB;
  text-transform: capitalize;
}